body {
background-color: #000;
}

div {
   margin-left: auto;
   margin-right: auto;
}

.intro {
   color: #fff;
}

.intro a {
   color: #fff;
}

#accordion .ui-state-default{
     background-color: #000000;
     background-image: none;
     color: #000000;
  }

#accordion .ui-state-default.ui-state-active{
     background-color: #ff0000;
     background-image: none;
     /*Accordion Header Text Color*/
	 color: #ff0000; 
	 
  } 

#accordion .ui-state-icons{
       color: #000000;
}